<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/add-product.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<%-include('../partials/admin-nav')-%>
<div class="add-product-main">
  <div class="header mt-3 mb-4">
    <span>Add product</span>
  </div>
  <form action="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="general mt-3 mb-2">
          <div class="container p-3">
            <div class="fields mb-3">
              <div class="lable mb-2"><span>Product Name</span></div>
              <div class="input"><input type="text" name="productName"></div>
            </div>
            <div class="fields mt-3">
              <div class="lable mb-2"><span>Product Name</span></div>
              <div class="input"><textarea name="description" id="descriptionid"  rows="5"></textarea></div>
            </div>
          </div>
        </div>
        <div class="media mt-3 mb-2"></div>
        <div class="pricing mt-3 mb-2">adsd</div>
        <div class="category mt-3 mb-2">ada</div>
        <div class="brand mt-3 mb-2">AD</div>
      </div>
    </div>
  </div>
</form>
</div>
<style>
  
  .add-product-main{
    width: 90%;
    border-radius: 25px;
    height: auto;
  }
  .general{
    border-radius: 25px;

    width: 80%;
    height: auto;
    background-color: aqua;
  }
  .media{
    border-radius: 25px;
    border-radius: 25px;
    width: 80%;
    height:350px;
    background-color: aliceblue;
  }
  .pricing{
    width: 80%;
    border-radius: 25px;
    height: 150px;
    background-color: brown;
  }
  .category{
    width: 80%;
    border-radius: 25px;
    height: 150px;
    background-color: green;
  }
  .brand{
    width: 80%;
    border-radius: 25px;
    height: 150px;
    background-color: yellow;
  }
  .fields{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
</style>

<%-include("../layout/footer")-%>