<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/category.css">
  <link rel="stylesheet" href="/static/css/sample.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <%-include('../partials/sample-nav')-%>

  <div class="main">
    <div class="topbar">
        <div class="toggle">
            <iconify-icon icon="fontisto:nav-icon-a" width="25" height="25"></iconify-icon>
        </div>
        <div class="category mt">
            <!-- <h1>Category</h1> -->
            <div class="option d-flex align-items-center justify-content-between ">
                <div class="heading d-flex justify-content-start w-100"><h2>Category</h2></div>
                <form action="/search" method="post">
                  <div class="input-group">
                    <div class="form-outline d-flex p-3">
                      <input type="search" class="form-control " name="search" placeholder="Search">
                          <button id="search-button" type="submit" class="btn btn-primary bg-custom-nav mx-2" style="background-color: rgba(9,9,121,1);">
                            
                            <lord-icon
                            src="https://cdn.lordicon.com/rlizirgt.json"
                            trigger="hover"
                            colors="primary:#ffffff"
                            style="width:25px;height:25px">
                        </lord-icon>
                          </button>
                    </div>
                    
                  </div>
                </form>
                <a href="/add"><lord-icon
                  src="https://cdn.lordicon.com/mrdiiocb.json"
                  trigger="hover"
                  colors="primary:#090979"
                  style="width:40px;height:40px">
              </lord-icon></a>
            </div>
          <!-- </div> -->
            
          
            <table class="table table-info container table-bordered my-0 mx-auto">
                <thead>
          
                    <tr>
                        <th class="table-primary" scope="col">No.</th>
                        <th class="table-primary" scope="col">Name</th>

                        <th class="table-primary" scope="col">Edit</th>
                        <th class="table-primary" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>

                        <tr>
                            <td>
          
                                i
                            </td>
                            <td>
                                data.name
                            </td>

                            <td>
                                <a href="" class="text-white">
                                    <lord-icon src="https://cdn.lordicon.com/qtqvorle.json" style="width: 30px;height:30px"
                                        trigger="hover" delay="2000"
                                        colors="outline:#121331,primary:#646e78,secondary:#ebe6ef,tertiary:#4cb4fd"
                                        style="width:250px;height:250px">
                                    </lord-icon>
                                </a>
                            </td>
                            <td>
                                <a href="" class="text-white"
                                    onclick="return confirm('Do you want to Remove  ?')">
                                    <lord-icon src="https://cdn.lordicon.com/exkbusmy.json" style="width: 30px;height:30px"
                                        trigger="hover" delay="2000"
                                        colors="outline:#121331,primary:#646e78,secondary:#4bb3fd,tertiary:#ebe6ef"
                                        style="width:250px;height:250px">
                                    </lord-icon>
                                    </i></a>
                            </td>
                        </tr>
                       
            </table>
          
          </main>
        </div>
        <!-- <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <ion-icon name="search-outline"></ion-icon>
            </label>
        </div> -->

        <!-- <div class="user">
            <img src="assets/imgs/customer01.jpg" alt="">
        </div> -->
   

    
        </div>
    </div>
</div>
</body>
<script>
    let list = document.querySelectorAll(".navigation li");

function activeLink() {
  list.forEach((item) => {
    item.classList.remove("hovered");
  });
  this.classList.add("hovered");
}

list.forEach((item) => item.addEventListener("mouseover", activeLink));

// Menu Toggle
let toggle = document.querySelector(".toggle");
let navigation = document.querySelector(".navigation_nav");
let main = document.querySelector(".main");

toggle.onclick = function () {
  navigation.classList.toggle("active");
  main.classList.toggle("active");
};

</script>
<%-include('../layout/footer')-%>