<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/sample" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="images" placeholder="images">
        <input type="text" name="description" placeholder="description">
        <input type="number" name="stock" placeholder="stock">
        <input type="name" name="basePrice" placeholder="basePrice">
        <input type="number" name="descountedPrice" placeholder="descountedPrice">
        <!-- <input type="text" name="variation" placeholder="variation"> -->
        <!-- <input type="text" name="timeStamp" placeholder="name"> -->
        <input type="text" name="brandid" placeholder="brandid">
        <input type="text" name="categoryId" placeholder="categoryId">

        <input type="submit">
    </form>
</body>
</html>