<div class="modal fade" id="cancelconfirmation<%=order._id%>" tabindex="-1" role="dialog" aria-labelledby="cancelconfirmationLabel<%=order._id%>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Order Cancel Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
      </div>
      <div class="modal-body">
        Do you really want to cancel the order?
      </div>
      <div class="modal-footer">
        <button style="background-color: black;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <a href="/cancelorder/<%=order._id %>" class="btn btn-warning ">Cancel</a>
      </div>
    </div>
  </div>
</div>