<%coupon.forEach((data)=>{%>
    <div class="modal fade" id="deleteconfirmation<%=data._id%>" tabindex="-1" role="dialog" aria-labelledby="deleteconfirmationLabel<%=data._id%>" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you want to delete the <%=data.couponName%>?
          </div>
          <div class="modal-footer">
            <button style="background-color: black;" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    
            <a onclick="deleteCoupon('<%=data._id%>')" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <%})%>