<footer >
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="footer-heading">TreasureCart.inc</h4>
                    <div class="footer-underline"></div>
                    <p>
                        Designed and developed by Safvan cmc 

                    </p>
                    <div class="d-flex">
                        <a href="#"><iconify-icon icon="teenyicons:instagram-outline" style="color: white;" width="24" height="24"></iconify-icon></a>
                        <a href="#"><iconify-icon icon="mdi:linkedin" style="color: white;" width="24" height="24"></iconify-icon></a>
                        <a href="#"><iconify-icon icon="ic:baseline-facebook" style="color: white;" width="24" height="24"></iconify-icon></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Quick Links</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="" class="text-white">Home</a></div>
                    <div class="mb-2"><a href="" class="text-white">Explore</a></div>
                    <div class="mb-2"><a href="" class="text-white">My order</a></div>
                    <div class="mb-2"><a href="" class="text-white">Wish List</a></div>
                    <div class="mb-2"><a href="" class="text-white">My Cart</a></div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Terms & Conditions</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="/about-us" class="text-white">About US</a></div>
                    <div class="mb-2"><a href="" class="text-white">Refund Policy</a></div>
                    <div class="mb-2"><a href="" class="text-white">Terms & Condition</a></div>
                   
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Reach Us</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="" class="text-white">Do you have any queries os Suggetions?</a></div>
                    <div class="mb-2"><a href="" class="text-white">safvancmc@gmail.com</a></div>
                    <div class="mb-2"><a href="" class="text-white">if you need support? Just give us a call </a></div>
                    <div class="mb-2"><a href="" class="text-white">+91 9999999999</a></div>

                    
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class=""> © Copyright owned by SAFVAN CMC. All rights reserved.</p>
                </div>
                <div class="col-md-4">
                    <div class="social-media">
                        Get Connected:
                        <a href="#"><iconify-icon icon="teenyicons:instagram-outline" style="color: white;" width="24" height="24"></iconify-icon></a>
                        <a href="#"><iconify-icon icon="mdi:linkedin" style="color: white;" width="24" height="24"></iconify-icon></a>
                        <a href="#"><iconify-icon icon="ic:baseline-facebook" style="color: white;" width="24" height="24"></iconify-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>