<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/" class="d-flex align-items-center"><iconify-icon icon="solar:home-bold" style="color: #787878;" width="25" height="25"></iconify-icon><span class="mx-2">Home</span></a>
    <a href="/products" class="d-flex align-items-center"><iconify-icon icon="vaadin:shop" style="color: #787878;" width="25" height="25"></iconify-icon><span class="mx-2">Shop</span></a>
    <a href="/wishlist" class="d-flex align-items-center"><iconify-icon icon="mdi:heart" style="color: #787878;" width="25" height="25"></iconify-icon><span class="mx-2">Wish List</span></a>
    <a href="/profile" class="d-flex align-items-center"><iconify-icon icon="ic:baseline-person" style="color: #787878;" width="25" height="25"></iconify-icon><span class="mx-2">My Account</span></a>
    <a href="/order-history" class="d-flex align-items-center"><iconify-icon icon="fa-solid:shipping-fast" style="color: #787878;" width="25" height="25"></iconify-icon><span class="mx-2">My Account</span></a>

    <a href="/contact-us" class="d-flex align-items-center"><iconify-icon icon="bx:support" style="color: #787878;" width="25" height="25"></iconify-icon><span class="mx-2">Contact Us</span></a>
</div>

<div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                    

                    <h5 class="brand-name">Treasure <span
                            style="background-color: #f0f0f0;color: #020A20;border-radius: 3px;padding-left: 1px;padding-right: 1px;">Cart</span>
                    </h5>
                </div>
                <div class=" col-4 col-sm-6 col-md-5 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <input type="search" placeholder="Find..." class="form-control" />
                            <button class="btn bg-white" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-8 col-sm-6 col-md-5 my-auto">
                    <ul class="nav justify-content-end">

                        <li class="nav-item">
                            <a class="nav-link" href="/cart">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wishlist">
                                <i class="fa fa-heart"></i>
                            </a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i>
                                <%=user?user:"Login"%>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <%if(user){%>

                                <li><a class="dropdown-item" href="/profile"><i class="fa fa-user"></i> My Account</a>
                                </li>
                                <li><a class="dropdown-item" href="/order-history"><i
                                            class="fa-solid fa-truck-fast"></i> MyOrders</a></li>
                                <li><a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
<%}else{%>
    <li><a class="dropdown-item" href="/login"><i class="fa fa-sign-in"></i> Login</a>
    </li>
    <%}%>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" href="#">
                <span onclick="openNav()"><iconify-icon icon="ic:round-menu" style="color: #020A20;float: left; margin-right: 20px;" width="40" height="40"></iconify-icon></span>
                <h5 class="brand-name mt-2 ms-2 ">Treasure <span style="background-color: #020A20;color: #fff;padding: 3px;border-radius: 3px;">Cart</span></h5>
            </a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist">Wish List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<script>
    function openNav() {
  document.getElementById("mySidenav").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidenav").style.display = "none";
}
</script>