<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="phone-portrait-outline"></ion-icon>
                        <!-- <img src="assets/imgs/letter-pb-creative-logo-design-vector-700-262759264-removebg-preview-removebg-preview.ico" alt="hello world"> -->
                    </span>
                    <span class="title"></span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="iconamoon:profile-light" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                    </span>
                    <span class="title">Profile</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="ph:heart-light" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                    </span>
                    <span class="title">Wishlist</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="carbon:map" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                       
                    </span>
                    <span class="title">Manage Address</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="la:shipping-fast" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                    </span>
                    <span class="title">My Orders</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="material-symbols:history" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                    </span>
                    <span class="title">Order history</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="mdi:password-outline" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                    </span>
                    <span class="title">Rest password</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <iconify-icon icon="ic:baseline-logout" style="color: #020d2a;" width="28" height="28"></iconify-icon>
                    </span>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>
    </div>

<!-- //top-navbar -->

    <div class="main">
        
