<div class="container_nav">
    <div class="navigation_nav">
        <ul>
            <li>
                <a href="#">
                    <span class="icon_nav">
                        <ion-icon name="logo-apple"></ion-icon>
                    </span>
                    <span class="title">Treasure Cart</span>
                </a>
            </li>

            <li>
                <a href="/admin/Dashboard">
                    <span class="icon_nav">
                        <iconify-icon icon="akar-icons:dashboard" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/admin/products">
                    <span class="icon_nav">
                        <iconify-icon icon="tabler:packages" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Products</span>
                </a>
            </li>

            <li>
                <a href="/admin/categories">
                    <span class="icon_nav">
                        <iconify-icon icon="carbon:collapse-categories" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Categories</span>
                </a>
            </li>

            <li>
                <a href="/admin/admins">
                    <span class="icon_nav">
                        <iconify-icon icon="subway:admin-1" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Admin</span>
                </a>
            </li>

            <li>
                <a href="/admin/customers">
                    <span class="icon_nav">
                        <iconify-icon icon="icon-park-outline:peoples" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Customers</span>
                </a>
            </li>

            <li>
                <a href="/admin/orders">
                    <span class="icon_nav">
                        <iconify-icon icon="mdi:cart" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Orders</span>
                </a>
            </li>
            <li>
                <a href="/admin/coupon">
                    <span class="icon_nav">
                        <iconify-icon icon="mdi:coupon-outline" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Coupon</span>
                </a>
            </li>
            <li>
                <a href="/admin/banner">
                    <span class="icon_nav">
                        <iconify-icon icon="game-icons:vertical-banner" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Banner</span>
                </a>
            </li>


            <li>
                <a href="/logout">
                    <span class="icon_nav">
                        <iconify-icon icon="ic:baseline-logout" style="color: #787878;" width="25" height="25"></iconify-icon>
                    </span>
                    <span class="title_nav">Log Out</span>
                </a>
            </li>
        </ul>
    </div>