.header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
    min-height: 80px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
  }
  .graph {
    margin-right: 0;
  }
  .table-responsive {
    overflow-x: auto;
  }
  a{
    text-decoration: none;
  }