/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.cart-main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-content{
    background-color: #f0f0f0;
    width: 90%;
    min-height: 90vh;
    border-radius: 20px;
}
.poduct-list{ */

    /* background-color: chartreuse; */
  /*  height: 600px;
    width: calc(100%);
}
.price-details{
    background-color: #fff;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.price-details-heading{
    height: 40px;
    display: flex;
    align-items: center;
}
.price-details-heading span{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Poppins';
}
.details-contents-main{
    display: flex;
    flex-direction: column;

}
.details-contents{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.coupon-main{
    display: flex;
    justify-content: space-around;
}
.textfield{
    width: 150px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid black;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-body input[type="text"], input[type="password"],input[type="email"]{
    outline: none;
    border: none;
    width: 90%;
    height: 100%;
}
.btn-custom{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #444BEF, #7b7ee3, #444BEF);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
 */

	/* margin: 1rem 0; */
/*	cursor: pointer;
	transition:ease 1s;
}
.btn-custom a{
    text-decoration: none;
}
.btn-custom:hover{
	background-position: right;
}

.textfield i:hover{
    cursor: pointer;
 } 
 */


 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    --text-clr: #4f4f4f;
}

p {
    color: #6c757d;
}

a {
    text-decoration: none;
    color: var(--text-clr);
}

a:hover {
    text-decoration: none;
    color: var(--text-clr);
}

h2 {
    color: var(--text-clr);
    font-size: 1.5rem;
}

.main_cart {
    background: #fff;
}

.card {
    border: none;
}

.product_img img {
    min-width: 200px;
    max-height: 200px;
}

.product_name {
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.card-title p {
    font-size: 0.9rem;
    font-weight: 500;
}

.remove-and-wish p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.price-money h3 {
    font-size: 1rem;
    font-weight: 600;
}

.set_quantity {
    position: relative;
}

/* .set_quantity::after {
    content: "(Note, 1 piece)";
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 1.5rem;
    font-size: 0.8rem;
} */

.page-link {
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
}

.page-item input {
    line-height: 22px;
    padding: 3px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-link:hover {
    text-decoration: none;
    color: #495057;
    outline: none !important;
}

.page-link:focus {
    box-shadow: none;
}

.price_indiv p {
    font-size: 1.1rem;
}
#trash{
    background-color: transparent;
    transition: 1s ease;
}
#trash:hover{
    background-color: rgb(255, 0, 0);
}
#trash:hover span {
    color: white;
}
#trash:hover i {
    color: white;
}

.fa-heart:hover {
    color: red;
}
.action-btn{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px; 
    border: 1px solid black;
    border-radius: 12px;
}