.main{
  width: 100%;
  margin-top: 50px;
  /* padding: 15px; */
}
.header{
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none;
}

.table-data{
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-data1{
  height: 45px;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.btn-custom{

display: flex;
justify-content: center;
align-items: center;
width: 120px;
height: 50px;
border-radius: 50px;
outline: none;
border: none;
background-image: linear-gradient(to right, #444BEF, #7b7ee3, #444BEF);
background-size: 200%;
font-size: 0.7rem;
color: #fff;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
/* margin: 1rem 0; */
cursor: pointer;
transition:ease 1s;
}
.btn-custom:hover{
background-position: right;
}