.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.code{
    font-size: 1.3rem;
    color: #f0f0f0;
    font-weight: 700;
    opacity: .7;
}
.table-data{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }