<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="card login-card p-2">
                        <h1 class="mt-5"><b>Forgot password?</b></h1>
                        <h4>Don't worry we are here for you!!</h4>
                        <div class="d-flex justify-content-center align-items-center form-body">
                            <form action="/user/forgot-pass" method="POST">
                                <div class="textfield mt-5">
                                    <iconify-icon icon="mdi:email-outline" style="color: #787878" width="28"
                                        height="28"></iconify-icon>
                                    <input type="email" placeholder="Enter the registered email" id="name" name="email" />
                                </div>
                                
                                <div class="button mt-5 mb-5">
                                    <button type="submit" class="btn-custom">Sent OTP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>/* wave animation */
        html, body {
            width: 100%;
            height: 100%;
        }
        body {
            background-color: #f0f0f0;
            /* background:radial-gradient(ellipse at center, rgba(255,254,234,1) 20%, rgba(255,254,234,1) 25%, #B7E8EB 100%); */
            overflow: hidden;
        }
        a{
          text-decoration:none ;
        }
        h4{
            color: #444BEF;
        }

        
        
          .main{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .login-card{
            /* border: none;
            outline: none; */
            /* box-shadow: 5px 5px 10px rgb(45, 45, 45); */
            background-color: rgb(255, 255, 255)!important;
            /* opacity: 0.3; */
            width: 450px;
            height: 500;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px!important;
        }
        .textfield{
            width: 290px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid black;
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .button{
            width: 290px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .form-body form{
            width: 290px;
        }
        .form-body input[type="text"], input[type="password"],input[type="email"]{
            outline: none;
            border: none;
            width: 88%;
            height: 100%;
        }
        .btn-custom{
            display: block;
            width: 50%;
            height: 50px;
            border-radius: 50px;
            outline: none;
            border: none;
            background-image: linear-gradient(to right, #444BEF, #7b7ee3, #444BEF);
            background-size: 200%;
            font-size: 1.2rem;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            /* margin: 1rem 0; */
            cursor: pointer;
            transition:ease 1s;
        }
        .btn-custom:hover{
            background-position: right;
        }
        
        .textfield i:hover{
            cursor: pointer;
        }
    </style>
    <%-include('../layout/footer')-%>
