
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%-include('../layout/header_links')-%>
 
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-0 col-sm-0 col-md-0 col-lg-6 img"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-12">
                <div class="card login-card p-2">
                  <%if(errmsg.length>0){%>
                    <span id="err" class="alert-danger"><%=errmsg%></span>
                    
                  <%}%>
                  <span id="msg" class="alert-danger"><%=errmsg%></span>

                  <h1 class="mt-5"><b>Login</b></h1>
                  <div class="d-flex justify-content-center align-items-center form-body">
                    <form   id="loginForm" onsubmit="return validateForm()">
                        <div class="textfield mt-5">
                            <iconify-icon icon="mdi:email-outline" style="color: #787878;" width="28" height="28"></iconify-icon>
                            <input required type="email" placeholder="Email" id="email" name="email">
                            
                        </div>
                        <span id="emailError" class="error"></span>
                        <div class="textfield mt-4">
                            <iconify-icon icon="mdi:password-outline" style="color: #787878;" width="28" height="28"></iconify-icon>
                            <input required type="password" placeholder="Password" id="password" name="password">
                            <!-- <iconify-icon icon="mdi:show-outline" style="color: #787878;" width="26" height="26"></iconify-icon>
                             -->
                            <i class="fa-regular fa-eye" id="eye" style="color: #787878;"></i>
                        </div>
                        <span id="passwordError" class="error"></span>
                        <div class="forgot-pass d-flex justify-content-end">
                          <a href="/forgot-pass">Forgot password?</a>
                        </div>
                        <div class="button mt-4 mb-2">
                          <input class="btn-custom" type="submit" value="Login"></button>

                        </div>
                        
                        <div class="or d-flex justify-content-center align-items-center">
                          or 
                        </div>
                        <div class="google-button mb-3 d-flex justify-content-center align-items-center">
                          <a href="/auth/login" class="btn-google"><i class="fab fa-google"></i> Signin with google</a>
                        </div>
                        <div class="register mb-2 d-flex justify-content-center align-items-center">
                          Don't have an account?<a href="/signUp">Sign up</a>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <style>
    a{
      text-decoration: none;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="/static/js/login.js"></script>
  <script>
    $("#loginForm").submit((e) => {
      e.preventDefault()
      console.log("clicked");
      $.ajax({
        url:'/login',
        method: 'post',
        data: $('#loginForm').serialize(),
        success: (response) => {
          if (response.faild) {
            console.log('response got')
            document.getElementById("msg").innerHTML=response.msg
            setTimeout(()=>{
              document.getElementById("msg").innerHTML=""
            }, 5000);
          }
          else{
            window.location.reload();
          }
        }
      })
    })
  </script>
<%-include('../layout/footer')-%>