<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>Treasure Cart</title>
    <%-include('../layout/header_links')-%>
</head>

<body id="body">
    <%-include('../partials/header')-%>

<div class="container p-5">
    <section class="text-center">
        <div class="card p-5  mt-3 bg-white border-radius shadow d-inline-block">
            <div
              class="bg-light ms-5"
              style="border-radius:200px; height:200px; width:200px; "
            >
              <br />
              <i class="checkmark text-success me-3" style="font-size: 100px;">✓</i>
            </div>
            <h1 class="text-success">Success</h1>
            <dt>We received your purchase request;<br /> <br />we'll be in touch shortly!</dt>
            <br>
            <div >
              <a href="/order-history" class="btn btn-primary  px-5 vw-80">Track Order</a>
            </div>
            <br>
              <a href="/" class="text-dark fw-bold text-decoration-none">Go To Home</a>
        </div>
        </section>
</div>
    
<%-include('../partials/footer')-%>
<%-include('../layout/footer')-%>