<%-include('../layout/header')-%>
<body>
<div class="nav-bg d-flex justify-content-start align-items-center">
    <div class="container  align-items-center">
        <div class="row d-flex justify-content-start align-items-center">
            <div class="col-6 col-md-2 d-flex justify-content-start align-items-center">
                <div class="logo "><a href="#" >Treaseure cart</a></div>
            </div>
            <div class="col-6 col-md-10 d-flex justify-content-end">
                 <div class="nav-controllers d-flex justify-content-start align-items-center">
                    <div class="nav-options">
                        <ul class="">
                            <li class="nav-item"><a href="">Home</a></li>
                            <li class="nav-item"><a href="">Explore</a></li>
                            <li class="nav-item"><a href="">My Accounts</a></li>
                            <li class="nav-item"><a href="">Contact Us</a></li>
    
                        </ul>
                    </div>
                    <div class="nav-search">
                        <form action="">
                            <input class="find" placeholder="find..." type="text">
                        </form>
                        <i class="fa-solid fa-magnifying-glass" style="color: #020d2a;"></i>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>

<%-include('../layout/header')-%>

