<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <%-include('../layout/header_links')-%>
  <link rel="stylesheet" href="/static/css/index.css">

</head>

<body>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-0 col-sm-0 col-md-0 col-lg-6 img"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-12">
                <div class="card login-card p-2">
                  <h1 class="mt-5"><b>Sign Up</b></h1>
                  <div class="d-flex justify-content-center align-items-center form-body">
                    <form action="/signUp" method="POST" onsubmit="return validateForm()" id="signupform">
                      <div class="textfield mt-5">
                        <iconify-icon icon="solar:user-linear" style="color: #787878;" width="26"
                          height="26"></iconify-icon>
                        <input type="text" placeholder="Full Name" id="name" name="name" onchange="validateUserName()">
                      </div>
                      <span id="nameError" class="error"></span>
                      <div class="textfield mt-4">
                        <iconify-icon icon="mdi:email-outline" style="color: #787878;" width="26"
                          height="26"></iconify-icon>
                        <input type="email" placeholder="Email" id="email" name="email" onchange="validateUserEmail()">
                      </div>
                      <span id="emailError" class="error"></span>
                      <%if(errmsg.length>0){%>
                        <span id="err" class="alert-danger">
                          <%=errmsg%>
                        </span>
                      <%}%>
                          <div class="textfield mt-4">
                            <iconify-icon icon="mdi:password-outline" style="color: #787878;" width="26"
                              height="26"></iconify-icon>
                            <input type="password" placeholder="Password" id="password" name="password" onchange="validatePassword();" >
                            <!-- <iconify-icon icon="mdi:show-outline" style="color: #787878;" width="26" height="26"></iconify-icon>
                             -->
                            <i class="fa-regular fa-eye" id="eye" style="color: #787878;"></i>
                          </div>
                          <span id="passwordError" class="error"></span>
                          <div class="textfield mt-4">
                            <iconify-icon icon="mdi:password-outline" style="color: #787878;" width="26"
                              height="26"></iconify-icon>
                            <input type="password" placeholder="Confirm Password" id="confirm-password" name="confirm-password" onkeyup="checkPasswordMatch();">
                            <!-- <iconify-icon icon="mdi:show-outline" style="color: #787878;" width="26" height="26"></iconify-icon>
                             -->
                            <!-- <i class="fa-regular fa-eye" id="eye" style="color: #787878;"></i> -->
                          </div>
                          <span id="confirmError" class="error"></span>
                          <div class="button mt-5 mb-2">
                            <input class="btn-custom" type="submit" value="Sign up" id="signupButton" disabled>
                          </div>
                          <div class="or d-flex justify-content-center align-items-center">
                            or
                          </div>
                          <div class="google-button mb-3 d-flex justify-content-center align-items-center">
                            <a href="/google" class="btn-google"><i class="fab fa-google"></i> Signin with
                              google</a>
                          </div>
                          <div class="register mb-2 d-flex justify-content-center align-items-center">
                            Already have an account?<a href="/">Sign in</a>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <style>
    a {
      text-decoration: none;
    }
  </style>
  <script src="/static/js/sign-up.js"></script>
  <%-include('../layout/footer')-%>