<div class="toast bg-light  start-50 translate-middle-x"
        style="position: fixed;bottom: 10px;z-index: 9999; background-color: #0b5ed7;" id="alertstock" role="alert"
        aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger  ">
          <!-- <img src="..." class="rounded me-2" alt="..."> -->
          <strong class="me-auto text-light ">Treasure Cart</strong>
        </div>
        <div class="toast-body text-dark ">
          Product is out of stock
        </div>
      </div>